<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <b>Enter Details of Student!<b>
    </div>
    <form method="post">
        <div>
            Name:
            <input type="text" name="name" />
        </div>
        <div>
            Age:
            <input type="text" name="age" />
        </div>
        <div>
            Branch:
            <input type="text" name="branch" />
        </div>
        <div>
           Year:
            <input type="text" name="year" />
        </div>
        <div>
            Semester:
            <input type="text" name="sem" />
        </div>
        <div>
            Previous semester Score:
            <input type="text" name="pa_score" />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>